/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    border-box: 0;
    margin: 0;
    padding: 0;
}


/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */
header {
    display: flex;
    background-color: #5722CD;
    height: 500px;
    color: #fff;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

/* --------------- 4.2 Introduction ------------------- */

/* ------------------------------- 5. Media Queries -------------------------------- */